body {
    background-image: linear-gradient(
    rgb(59, 88, 93),
    rgb(29, 40, 42)

    );
    height: 100vh;
    color:white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#below {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0;
}
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
}
.button {
  font-size: 1.5em;

}
.button-navigate{
  font-size: 3em;
}
.button-higgest{
  font-size: 4em;
}
#cover {
  width: 450px;
}
.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#playlist-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0em 4em 0em;
}
#song-name {
  font-size: 1.5em;
  font-weight: bold;
}
.light-color{
  color:rgb(139,153,156);
}
#progress-bar {
background-color:rgb(139,153,156);
height:3px;
width:100%;
border-radius: 15px;
margin: 1em;
}
#current-progress {
  background-color:rgb(255,255,255);
  height:inherit;
  width:50%;
  border-radius: inherit;
}